
<h1>About Us</h1>
<p> The Hive is a student-made, student-maintained, and student-run resource for other students. College experiences vary from campus to campus and city to city. We want to create a place where students are able to make comments and rate their experiences with different areas of college life, such as academics, as well as social life, to provide an encompassing account of what their college is like. </p>