
<h1>About Us</h1>
<h4> The Hive is a student-made, student-maintained, and student-run resource for other students. College experiences vary from campus to campus and city to city. We want to create a place where students are able to make comments and rate their experiences with different areas of college life, such as academics, as well as social life, to provide an encompassing account of what their college is like. </h4>


<div class="row">
	<div class="col-md-4">
		<img src="/assets/bob.png" alt="Bobby" class="img-rounded"/>
		<h4>Zexi Zhang came up with this idea when he realized how veiled a college's experience may seem to others. As a student at UC Davis, he felt that he should inform others about the college as well as the city. He enjoys spending his weekends awake for 36 hours at a time at hackathons. He also enjoys design. </h4>
	</div>
	<div class="col-md-4">
		<img src="/assets/jay.png" alt="Jay" class="img-rounded"/>
		<h4> Jay Chittoor is a student at UCLA studying developmental biology. He is also an avid coder during the weekends. He loves the outdoors and spending his free time in the wilderness, where he can contemplate about life.</h4>
	</div>
	<div class="col-md-4">
		<img src="/assets/ju.png" alt="Juyea" class="img-rounded"/>
		<h4> Juyea Hoo studies Chemical Engineering at UCLA but has a deep passion in computers. She spends her free time learning the latest coding practices and languages while spending the rest of her time coming up with new and creative cooking recipes. </h4>
	</div>
</div>

      
<style> 
.img-rounded {
	width:250px;
	padding:20px;
	display:inline;
	margin:10px;

}
</style>
