 <head>
 <link rel="shortcut icon" href="public/assets/geohive.ico">

 <title>The Hive</title>
 <meta title =" A student grown resource for students">
  
 </head>

		<h1>THE HIVE</h1>
		<h3> The buzz around campus.</h3>


	<div id="main_wrapper">
		<form role="form">
  		<div class="form-group">
    
    <label for="exampleInputEmail1">University Name</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter university name">
  		</div>
  	</form>
  	
  		<div id="action_button">
  		<button type="button" class="btn btn-info btn-lg">Search</button>
  		</div>

  	</div>

