<body>

	<div id="content">
		<h1 class="first-head">Welcome to The Hive</h1>
	</div>
			
	<div id ="form-wrap">

	<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  	</form>

  <form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Password</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Password">
  </div>
		</form>
 	</div>

	<div id="confirm-button">

		<button type="button" class="btn btn-primary btn-lg">Login</button>

	</div>

	</body>