<div id = "main-container">
	<div class="user-input"> 
		<h1 id = "club-name">Add your club or organization!</h1>

		<h4>Name of Club/Organization</h4>
		<div class="input-group">
			<input type="text" color="black" class="form-controller">
		</div>

		
		<div class="btn-group">
			<h4>Category</h4>
				  <button type="button" class="btn btn-default">Choose one</button>
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				    <span class="caret"></span>
				    <span class="sr-only"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="#">Academic</a></li>
				    <li><a href="#">Social</a></li>
				    <li><a href="#">Outreach</a></li>
				    <li><a href="#">Sports</a></li>
				    <li><a href="#">Hobbies</a></li>
    
  				</ul>
		</div>

		<h4>Upload a photo</h4>
	</div>

	<div class="user-description">
	
		<form role="form">
			  <div class="form-description">
			    <label for="exampleInputEmail1">Description</label>
			    <input type="email" color="black" class="form-controller1" id="exampleInputEmail1" placeholder="Tell us about your club in 200 words or less.">
			  </div>
 		 </form>

	</div>

	<div id="submit-button">
	<button type="button" class="btn btn-default">Submit!</button>



	</div>

</div>