<!DOCTYPE html> 
<html lang = "en">
<head>
	<meta name ="The Hive - Search for Courses and Professors"/> 
	<title> The Hive - The Buzz on Campus</title>
	<link rel= "stylesheet" href = "signup.css" link ="text/css">
</head>

<body>

	<div id="content">
		<h1 class="first-head">Sign Up for The Hive</h1>
	</div>
			
	<div id ="form-wrap">

	<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  	</form>

  <form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Password</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Password">
  </div>
		</form>
  <form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Confirm Password</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Password again">
  </div>

 		</form>
 	</div>

	<div id="confirm-button">

		<button type="button" class="btn btn-primary btn-md">Sign Up</button>

	</div>

	</body>
</html>