<header> 
			<div id="top-wrapper">
				<h2> University of California, Los Angeles </h2>
			</div>

		<div class="form-group">
          <input type="text" class="form-control-md" placeholder="Search">
        </div>
</header>

<body> 

	<div id="main-content">
		<div class="event-name">
			<h2 class="clubs">
				Clubs and Organizations
			</h2>
		</div>
		
		<div id="category-club">
			<ul class="club"> 
				<li>Academic</li>
				<li>Social</li>
				<li>Outreach</li>
				<li>Sports</li>
				<li>Hobbies</li>
			</ul>
		</div>

		<div id="boxes">

			<div id="left-box">

			</div>

		</div>
</body>